*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: black;
    --cor-secundaria: purple;
    --cor-terciaria: gray;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: url(/images/220213.jpeg) no-repeat;
    background-size: cover;
}

.wrapper{
    padding: 0 0 0 0rem;
}

a, li{
    list-style: none;
    text-decoration: none;
}

.header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    
}


.header ul{
    display: flex;
    gap: 3rem;
}

.header li a{
    background-color: var(--cor-secundaria);
    color: white;
    padding: .5rem 1rem;
}

.header .ingressos button{
    background: var(--cor-brown);

}

.hero{
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);

}

.hero .left{
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 30%;
}

.left h1{
    font-size: 3rem;
    color: white;
    border-bottom: 1px solid white;
    width: 90%;
    line-height: 5rem;
}

.left p{
    color: white;
    line-height: 1.5rem;
    margin: 1rem;
    font-weight: 300;

}

.left .salao button{
    background: var(--cor-secundaria);
    border: none;
    padding: 1rem 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cor-brown);
    font-size: 1.2rem;
    margin: 1rem;


}